@model SRV.ViewModel.CategoryModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-9">
        <h2 class="page-header">
            <span class="fa fa-list" aria-hidden="true"></span> 文章系列管理
            <a class="small pull-right" zyf-category-add=""><span class="fa fa-plus"></span> 添加</a>
        </h2>


    </div>
</div>
