@model SRV.ViewModel.CategoryModel

<form class="hide" method="post" category-edit-form novalidate="novalidate">
    <div class="form-group">
        <label>父系列：</label>
        @Html.TextBoxFor(c => c.CategoryId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>标题：</label>
        @Html.TextBoxFor(c => c.Title, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>描述：</label>
        @Html.TextBoxFor(c => c.Summary, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary submit-once">提交</button>
    <button category-edit-cancel type="button" class="btn btn-default">放弃</button>
</form>

<script>
    $('[category-edit-cancel]').click(function () {
        $('[category-edit-form]').addClass("hide")
    })
</script>