@{
    var CurrentPage = ViewBag.CurrentPage ?? 1;
    var TotalPage = ViewBag.TotalPage ?? 1;
    var ActionName = ViewBag.ActionName;

    int begin = CurrentPage - 2;
    int end = CurrentPage + 2;
    begin = begin < 1 ? 1 : begin;
    end = end > TotalPage ? TotalPage : end;

}
<nav class="pull-right" pagination>
    <ul class="pagination">
        @if (CurrentPage != 1)
        {
            <li>
                <a href="@ActionName/@(CurrentPage-1)">上一页</a>
            </li>
        }

        @for (int i = begin; i <= end; i++)
        {
            if (i == CurrentPage)
            {
                <li class="active">
                    <a href="@ActionName/@i">@i</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@ActionName/@i">@i</a>
                </li>
            }
        }
        @if (CurrentPage != TotalPage && TotalPage != 0)
        {
            <li>
                <a href="@ActionName/@(CurrentPage+1)">下一页</a>
            </li>
        }
    </ul>
</nav>
