@model SRV.ViewModel.EnityDto.CommentDto

<div>
    <small class="text-muted"><span class="fa fa-calendar"></span><span style="margin:0px 5px;">@Model.CommentTime</span></small>
</div>
<div style="margin:10px 0;">
    @Model.Content
</div>

