@model SRV.ViewModel.SingleModel

<div class="container body-content">
    <div style="margin-top:55px" class="row">
        <div class="col-md-8">
            <div class="text-primary h2-inline">
                <span class="iconfont icon-article"></span>@Model.Title
            </div>

            <span>
                <small class="text-muted" zyf-datetime="">
                    <span>
                        <span class="fa fa-calendar"></span>@Model.PublishDateTime.ToString()
                    </span>
                </small>
            </span>

            <div style="clear: both; word-break: break-all; padding-top: 20px;">
                @Model.Body
            </div>

        </div>
    </div>
</div>
